<div>
    <div class="col-md-12">
        <span><strong>Catalogo:</strong></span>
    </div>
    <br/>
    <div class="col-md-1">
        <button class="botonF1" name="Carrito de compra" (click)="toggleChild()">
            <span><i class="glyphicon glyphicon-shopping-cart"></i></span>
        </button>
    </div>
    <div >
        <app-shoppingcart [showMePartially]="showVar"></app-shoppingcart>
    </div>
    <div>
        
    </div>
    <div class="center">
        <div class="pagination">
            <a href="#">❮</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">❯</a>
        </div>
    </div>
</div>
