.card-body{
  background-color: transparent;
}

.list-group-item{
  box-shadow: 0px 0px 10px 0px #888888;
  border-radius: 5px !important;
}

.carousel-size{
  height: calc(220px);
}

.carousel-inner{
  height: calc(220px);
}

.item img{
  height: calc(220px);
}

.card-body-explain{
  height: calc(220px);
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

@media (max-width: 2046px) and (min-width: 1023px) {
    .container {
      padding-top: 120px;
      width: 65%;
    }
    .logo-login{
      width: 15%;
      left: 10%;
    }
    .welcome-user{
      width: calc(80%);
      position: absolute;
      top: 35%;
      left: 10%;
      text-align: center;
    }
    /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }

  @media (max-width: 1022px) and (min-width: 631px) {
  .container {
    padding-top: 150px;
    width: 65%;
  }
  .logo-login{
    width: 30%;
    left: 10%;
  }
  .welcome-user{
    width: calc(80%);
    position: absolute;
    top: 35%;
    left: 20%;
    text-align: center;
  }
  /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }
  @media (max-width: 320px) and (min-width: 120px) {
    .container {
      padding-top: 15px;
    }
    .logo-login{
      width: 30%;
    }
    .welcome-user{
      width: calc(80%);
      position: absolute;
      top: 35%;
      left: 20%;
      text-align: center;
    }
    /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }
  @media (max-width: 374px) and (min-width: 321px) {
    .container {
      padding-top: 15px;
    }
    .logo-login{
      width: 30%;
    }
    .welcome-user{
      width: calc(80%);
      position: absolute;
      top: 35%;
      left: Calc(40% - 80px);
      text-align: center;
    }
    /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }
  @media (max-width: 400px) and (min-width: 375px) {
    .container {
      padding-top: 15px;
    }
    .logo-login{
      width: 30%;
    }
    .welcome-user{
      width: calc(80%);
      position: absolute;
      top: 35%;
      left: Calc(40% - 80px);
      text-align: center;
    }
    /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }
  @media (max-width: 500px) and (min-width: 401px) {
    .container {
      padding-top: 15px;
    }
    .logo-login{
      width: 30%;
    }
    .welcome-user{
      width: calc(80%);
      position: absolute;
      top: 35%;
      left: Calc(40% - 80px);
      text-align: center;
    }
    /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }
  @media (max-width: 630px) and (min-width: 501px) {
    .container {
      padding-top: 15px;
    }
    .logo-login{
      width: 30%;
    }
    .welcome-user{
      width: calc(80%);
      position: absolute;
      top: 35%;
      left: Calc(40% - 80px);
      text-align: center;
    }
    /* .mySlides {display:none} */
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
  }
  