ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 0px 0;
  padding-left: 50px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
@media (max-width: 1446px) and (min-width: 1024px) {
  .container {
    width: 60%;
    height: 100%;
    padding-top: 10px;
  }
}
@media (max-width: 759px) and (min-width: 0px) {
  .container {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }
  table {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: white;
    font-size: 10px;
    bottom: 10px;
    white-space: nowrap;
  }
  th{
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 22px;
    cursor: pointer;
  }
  
  tr{
    border-bottom: 1px solid #ddd;
    line-height: 18px;
  }
}
@media (max-width: 1023px) and (min-width: 760px) {
  .container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  table {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: white;
    font-size: 20px;
    bottom: 10px;
    white-space: nowrap;
  }
  th{
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    cursor: pointer;
  }
  
  tr{
    border-bottom: 1px solid #ddd;
    line-height: 22px;
  }
}
@media (max-width: 1446px) and (min-width: 1024px) {
  .container {
    padding-top: 120px;
    width: 65%;
  }
  table {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: whites;
    font-size: 15px;
    bottom: 10px;
    white-space: nowrap;
  }
  th{
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    cursor: pointer;
  }
  
  tr{
    border-bottom: 1px solid #ddd;
    line-height: 22px;
  }
}


.card-body{
  background-color: transparent;
}
.list-group-item{
  box-shadow: 0px 0px 10px 0px #888888;
  border-radius: 5px !important;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  position: relative;
  left: 0px;
  right: 0px;
}

.pagination a {
  color: black;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: rgb(57, 89, 160);
  color: white;
  border: 1px solid  rgb(57, 89, 160);
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
  