<div class="container">
  <ul class="list-group">
      <li class="list-group-item ">
          <div class="card-body">
              <div>
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <h4>Orden N° xxxx-123</h4>
                      <ul class="timeline">
                        <li>
                          <a target="_blank" href="https://www.totoprayogo.com/#">Solicitud </a>
                          <a class="float-right">21 March, 2014</a>
                          <p>Recibida correctamente</p>
                        </li>
                        <li>
                          <a>Validación </a>
                          <a class="float-right">4 March, 2014</a>
                          <p>No presenta ninguna inconsistencia</p>
                        </li>
                        <li>
                          <a>Aprobada </a>
                          <a class="float-right">1 April, 2014</a>
                          <p>Se aprueba satisfactoriamente la solicitud de compra.</p>
                        </li>
                        <li>
                            <a>Finaliza </a>
                            <a class="float-right">1 April, 2014</a>
                            <p>Se enviara en un lapso de tiempo de 24 horas un correo con la informacion (Baucher) de la compra.</p>
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
      </li>
      <br/>
      <li class="list-group-item ">
          <div class="card-body">
              <div *ngIf="paginator" class="center">
                  <div class="pagination">
                      <a href="#">❮</a>
                      <a href="#" class="active">1</a>
                      <a href="#">2</a>
                      <a href="#">❯</a>
                  </div>
              </div>
          </div>
      </li>
  </ul>
</div>
<br>
