@media (max-width: 2046px) and (min-width: 1023px) {
    .container {
      padding-top: 220px;
    }
    }
  @media (max-width: 1022px) and (min-width: 631px) {
  .container {
    padding-top: 120px;
  }
  }
  @media (max-width: 320px) and (min-width: 120px) {
    .container {
      padding-top: 10px;
    }
  }
  @media (max-width: 374px) and (min-width: 321px) {
    .container {
      padding-top: 15px;
    }
  }
  @media (max-width: 400px) and (min-width: 375px) {
    .container {
      padding-top: 30px;
    }
  }
  @media (max-width: 500px) and (min-width: 401px) {
    .container {
      padding-top: 40px;
    }
  }
  @media (max-width: 630px) and (min-width: 501px) {
    .container {
      padding-top: 50px;
    }
  }
  