
.form-group-forms{
    display: block;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    background-image: url("../../../assets/images/cappadocia-765498_0.jpg");
    background-size: cover;
}

.form-horizontal {
    margin:0 auto;
    width: 300px;
    height: 350px;
    background: rgba(41, 44, 54, 0.562);
    border-radius: 12px;
}
.col-form-label{
    text-align: right;
}

.form-login{
    margin:0 auto;
    width: 300px;
    height: 320px;
}

.custom-input{
    border: none;
    border-bottom: 2px solid   #5B8AEF;
    background: transparent;
    color: #fff;  
    padding: 5px;
    width: 290px;
}

.logo-login{
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.logo-login img{
    width: 150px;
}
	
::placeholder { 
    color:  antiquewhite; 
    text-align: center;
}

.custom-ref{
    color: #fff;
}

.custom-input:focus {
    border: 3px solid  #ffffff;
    border-radius: 12px;
}

.form-group{
    align-items: center;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 250px;
}

.pt-3{
    padding: 0px;
    text-align: center;
}

.btn-danger{
    background-color: #5B8AEF; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}